body {
    background-color: #ebebeb;
    color: #161616;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #9825e0
}

h2 {
    color: #161616;
}

a {
    color: #9825e0;
}

a:hover {
    color: #681b98;
}

nav {
    background-color: #9825e0;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #ebebeb;
    padding: 3px;
}

nav a:hover {
    background-color: #ebebeb;
    border-radius: 6px;
}

.quote {
    float: right;
}

.row1{
    display: flex;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 1em;
    padding: 10px;
    
}

.row2{
    display: flex;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 1em;
    padding: 10px;
    flex-wrap: wrap;
}

.column{
    margin: 15px;
}

.textcenter {
    text-align: center;
}

.icon {
    width: 50px;
    height: 50px;
}

.skillsmain {
    display: flex;
    justify-content: center;
}

.primaryskills {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin: 20px;
}

.skillscol1 {
    flex: 7.5;
    margin: auto;
}

.skillscol2 {
    flex: 2.5;
    margin: 10px;
}

.indivskill p {
    font-size: 120%;
}

aside {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 10px;
}

.headerimage {
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    nav a {
        display: block;
        width: 100%;
    }
}

#skip {
    background-color: #131313;
    border: 1px solid #ffffff;
    padding: 5px;
    position: absolute; /* out of page flow for layout */
    left: -999px;
}

#skip:focus {
    left: 10px;
    top: 15px;
}