.imagetemp {
    width: 20%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEDE7;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.maincontent {
    margin-left: 60px;
    margin-right: 60px;
}

.button {
    background-color: #011632;
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.5s;
}

.button:hover {
    background-color: #04AA6D;
    box-shadow: 1px 10px 30px 0px rgba(0,0,0,0.14);
    transition: 0.5s;

}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #d0cfca;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation h1 {
    color: #04AA6D
}

.links {
    margin-top: auto;
    margin-bottom: auto;
}

.links a {
    background-color: #011632;
    padding: 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 90px;
    margin-right: 20px;
    text-align: center;
}

.links a:hover {
    background-color: #026a51;
    transition: 0.2s;
}

#active {
    background-color: #04AA6D;
  }

.largetextandimage {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.textandbutton p {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 600;
    color: #151515;
}

.textandbutton {
    flex: 5;
    margin-top: 20px;
}

.homeimage {
    flex: 5;
    margin: auto;
}

.homeimage img {
    width: 650px;
    border-radius: 10px;
}

.startingsteps{
    display: flex;
    justify-content: space-around;
}

.stepsimage {
    background-color: aqua;
}

